@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
:root {
  --primaryColor: rgb(0, 188, 126);
  --primaryHover: rgb(5, 151, 103);
  --secondaryColor: rgb(0, 26, 80);
  --secondaryHover: rgb(2, 36, 107);
  --textColor: rgb(255, 255, 255);
  --footerBgColor: rgb(29, 29, 29);
  --paragraphColor: rgb(175, 175, 175);
  --greyBG: rgb(246, 246, 246);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(20deg, #c5c8c7, var(--primaryColor));
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.container {
  /* margin: 2rem 3rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.boxesContainer {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxesContainer .boxContent {
  background: var(--greyBG);
  margin: 1rem 10rem;
  text-align: center;
  border-radius: 20px;
}

.boxesContainer .boxContent .boxImgDiv img {
  max-width: 100wv;
  border-radius: 20px 20px 0 0;
}

.boxesContainer .boxContent .boxPrice,
.boxLocalisation, 
.imageTitle{
  display: block;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: 'montserrat', 'san serif';
  color: var(--secondaryColor);
}

.boxesContainer .boxContent .imgDesc {

  background: var(--greyBG);
  padding: 20px;
  text-align: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondaryColor);
  border-radius: 20px;
}

.boxesContainer .boxContent .boxImgBtn {
  padding: 0.7rem 1.5rem;
  background: var(--primaryColor);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  margin: auto;
}

.boxesContainer .boxContent .boxImgBtn:hover {
  background: var(--primaryHover);
}

/* .boxesContainer .boxContent .boxImgBtn button {
  background: transparent;
  border: none;
  color: var(--textColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} */

.boxesContainer .boxContent .boxImgBtn button:focus {
  outline: none;
}

.boxImgBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.boxImgBtn button {
  margin-right: 0.5rem;
}

.boxImgBtn .btn-secondary {
  background-color: black;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}