@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
:root {
  --primaryColor: rgb(0, 188, 126);
  --primaryHover: rgb(5, 151, 103);
  --secondaryColor: rgb(0, 26, 80);
  --secondaryHover: rgb(2, 36, 107);
  --textColor: rgb(255, 255, 255);
  --footerBgColor: rgb(29, 29, 29);
  --paragraphColor: rgb(175, 175, 175);
  --greyBG: rgb(246, 246, 246);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4rem 0 2rem;
}

.icon {
  font-size: 2rem;
}

.btn {
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section .title {
  color: var(--secondaryColor);
  text-align: center;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(20deg, #a0bfb5, #4b5652);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

.profil {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profil h2 {
  margin-top: 200px;
  padding-left: 20px;
}
.profil span {
  color: rgb(0, 30, 255);
}
.profil img {
  margin-top: 150px;
  margin-left: 150px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px black;
}

.boxesContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.boxesContainer .boxContent {
  background: var(--greyBG);
  margin: 1rem 0;
  text-align: center;
}

.boxesContainer .boxContent:hover {
  background: var(--primaryColor);
}

.boxesContainer .boxContent .boxImgDiv {
  margin: auto;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.boxesContainer .boxContent .boxImgDiv img {
  width: 100wv;
}

.boxesContainer .boxContent .boxImgPrice {
  display: block;
  font-size: 20px;
  padding-top: 5px;
  font-weight: 600;
  font-family: 'montserrat', 'san serif';
  color: var(--secondaryColor);
}

.boxesContainer .boxContent .stars {
  color: var(--primaryColor);
  font-size: 1.3rem;
}

.boxesContainer .boxContent .imgDesc .imageTitle {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondaryColor);
}

.boxesContainer .boxContent .boxImgBtn {
  padding: 0.7rem 1.5rem;
  background: var(--primaryColor);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  margin: auto;
}

.boxesContainer .boxContent .boxImgBtn:hover {
  background: var(--primaryHover);
}

.boxesContainer .boxContent .boxImgBtn button {
  background: transparent;
  border: none;
  color: var(--textColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.boxesContainer .boxContent .boxImgBtn button:focus {
  outline: none;
}

.boxesContainer .boxContent .boxImgBtn button .bx {
  font-size: 1.3rem;
  margin-right: 10px;
}

.boxesContainer .sHide {
  margin-top: 1rem;
  display: none;
}

.boxImgBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.boxImgBtn button {
  margin-right: 0.5rem;
}

.boxImgBtn .btn-secondary {
  background-color: black;
}
