@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
:root {
  --primaryColor: rgb(0, 188, 126);
  --primaryHover: rgb(5, 151, 103);
  --secondaryColor: rgb(0, 26, 80);
  --secondaryHover: rgb(2, 36, 107);
  --textColor: rgb(255, 255, 255);
  --footerBgColor: rgb(29, 29, 29);
  --paragraphColor: rgb(175, 175, 175);
  --greyBG: rgb(246, 246, 246);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section {                      
  padding: 4rem 0 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section .title {
  color: var(--secondaryColor);
  text-align: center;
}


.header {
  position: fixed;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 2rem 1rem; */
  background: white;
  -webkit-box-shadow: 0 2px 2px var(--secondaryColor);
  box-shadow: 0 2px 2px var(--secondaryColor);
  z-index: 100;
}


.header .logoDiv .logo {
  margin-top: 40px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.navBar{
  width: 100%;
}

.navList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.accountBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  gap: 10px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.accountBtn .contactLink {
  padding: 0.8rem 1.5rem;
  background: var(--primaryColor);
  border-radius: 3rem;
  color: var(--textColor);
}

.accountBtn .contactLink span{
  white-space: nowrap;
}

.accountBtn .contactLink:hover {
  background: var(--primaryHover);
}


.productionSection .sectionIntro {
  width: 100%;
  max-width: 80%;
  margin: auto;
}

.headerInfo .title {
  color: var(--secondaryColor);
}

.boxesContainer {
  display: grid;
  gap: 1rem;
}

.boxesContainer .boxContent {
  background: var(--greyBG);
  margin: 1rem 0;
  text-align: center;
}

.boxesContainer .boxContent:hover {
  background: var(--primaryColor);
}

.boxesContainer .boxContent .boxImgDiv img {
  width: 180px;
  height: 180px;    /**/
}

.boxesContainer .boxContent .boxPrice,
.boxLocalisation
{
  display: block;
  font-size: 20px;
  padding-top: 5px;
  font-weight: 600;
  font-family: 'montserrat', 'san serif';
  color: var(--secondaryColor);
}

.boxesContainer .boxContent .imgDesc .imageTitle {
  margin-top: 15px;   /**/
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: var(--secondaryColor);
}

.boxesContainer .boxContent .boxImgBtn {
  padding: 0.7rem 1.5rem;
  background: var(--primaryColor);
  width: max-content;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  margin: auto;
}

.boxesContainer .boxContent .boxImgBtn:hover {
  background: var(--primaryHover);
}

.boxesContainer .boxContent .boxImgBtn button {
  background: transparent;
  border: none;
  color: var(--textColor);
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--greyBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 3rem;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 6rem 0;
  }

  .navList {
    display: flex;
  }
  .navList .navItem {
    margin: 0 0.5rem;
  }
  .navList .navItem .navLink {
    color: var(--secondaryColor);
  }
  .navList .navItem .navLink:hover {
    color: var(--primaryColor);
  }
  
  .boxesContainer
  {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media screen and (min-width: 768px) {
  .header {
    padding: 2.5rem 5rem;
  }
  .contactLink {
    font-size: 18px !important;
    padding: 2rem 1rem;
  }
  .navLink {
    font-size: 1.2rem;
  }
  
  .container {
    width: 70%;
    margin: auto;
  }
}
